.header {
  background-color: dodgerblue;
  color: white;
  padding: 15px;

  .logo {
    max-width: 25px;
    max-width: 25px;
    margin: -10px 5px -5px;
  }

  .menu {
    text-align: right;
    display: block;
  }
}
